{% extends "base_generic.html" %} {% load bootstrap4 %} {% load crispy_forms_tags %} {% block content %}
<form method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-10 mb-0">
            {{ form.event_name|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-10 mb-0">
            {{ form.nominator|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-10 mb-0">
            {{ form.conference_contact|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-10 mb-0">
            {{ form.event_url|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-10 mb-0">
            {{ form.cfp_url|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-10 mb-0">
            {{ form.address|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4 mb-0">
            {{ form.city|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ form.state_province|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ form.country|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5 mb-0">
            {{ form.start_date|as_crispy_field }}
        </div>
        <div class="form-group col-md-5 mb-0">
            {{ form.end_date|as_crispy_field }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}