{% extends "base_generic.html" %} {% load bootstrap4 %} {% load crispy_forms_tags %} {% block content %}
<form method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-10 mb-0">
            {{ form.event|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-10 mb-0">
            {{ form.action_by|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-10 mb-0">
            {{ form.status|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-10 mb-0">
            {{ form.event_rating|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-10 mb-0">
            {{ form.primary_goals|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-10 mb-0">
            {{ form.sponsored_before|as_crispy_field }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}